.main-content-body {
    width: calc(75% - 20px);

    @include respond-to(ipad) {
        width: 100%;
    }

    .main-content-intro {
        height: 100px;
        background-color: var(--bs-info);
        width: 100%;
    }

    .main-content-inner-body {
        width: 100%;
    }
}

.sidebar {
    width: calc(25%);
    background-color: var(--bs-light);

    @include respond-to(ipad) {
        width: 100%;
        margin-top: 20px;
    }
}
